#wrapper{
	display: flex;
	width: 100vw;
}

#describe{
	border-right: 2px solid;
	border-top:  2px solid;
	border-bottom:  2px solid;
	width: 38vw;
}

.word{
	margin: 3px;
	line-height: 22px;
}

#gridwrapper{
	margin: 5px;
	padding: 10px;
	margin: auto auto;
}

#grids{	
	display: flex;
	flex-direction: column;
}

#row{
	display: flex;
}

#cell{
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	margin: -1px;
	text-align: center;
}

.char{
	border: solid;
}

.blank{
	border: solid;
	background-color: black;
}

.hide{
	border: solid;
	visibility: hidden;
}

.index{
	border: dotted;
}